[submodule "open-autonomy"]
	path = open-autonomy
	url = https://github.com/valory-xyz/open-autonomy
[submodule "price-oracle"]
	path = price-oracle
	url = https://github.com/valory-xyz/price-oracle
[submodule "IEKit"]
	path = IEKit
	url = https://github.com/valory-xyz/IEKit
[submodule "mech"]
	path = mech
	url = https://github.com/valory-xyz/mech
[submodule "open-acn"]
	path = open-acn
	url = https://github.com/valory-xyz/open-acn
[submodule "hello-world"]
	path = hello-world
	url = https://github.com/valory-xyz/hello-world.git
[submodule "open-aea"]
	path = open-aea
	url = https://github.com/valory-xyz/open-aea
[submodule "mech-tools-dev"]
	path = mech-tools-dev
	url = https://github.com/valory-xyz/mech-tools-dev
[submodule "mech-client"]
	path = mech-client
	url = https://github.com/valory-xyz/mech-client
