name: Build Documentation

on:
  workflow_call:
    inputs:
      fetch-depth:
        description: 'Git fetch depth'
        required: false
        default: '1'
        type: string

jobs:
  build:
    continue-on-error: False
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: ${{ inputs.fetch-depth }}

      - uses: actions/setup-python@master
        with:
          python-version: '3.10'

      - name: Sub-modules
        run: git submodule update --init --recursive
          
      - name: Install dependencies
        run: |
          sudo apt-get update --fix-missing
          sudo apt-get autoremove
          sudo apt-get autoclean
          pip install tomte[tox]==0.2.2          
          pip install poetry
          poetry update
          poetry install --no-root
          sudo npm install -g markdown-spellcheck

      - name: Generate Documentation
        run: |
          find . -name "mkdocs.yml" | xargs -L1 sed -i.snrbck "s/materialx.emoji.twemoji/material.extensions.emoji.twemoji/g"
          find . -name "mkdocs.yml" | xargs -L1 sed -i.snrbck "s/materialx.emoji.to_svg/material.extensions.emoji.to_svg/g"
          find . -name "*.snrbck" | xargs -L1 rm
          
          poetry run pip3 install mkdocs-material==9.4.10 mkdocs-material-extensions==1.3
          poetry run pip3 install setuptools
          poetry run mkdocs build --clean

      - name: Upload static files as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site/
